<template>
  <div>
      <h1>Form with input checkboxs and buttons</h1>
    <input type="text" placeholder="Enter your name" v-model="signup.name" />
    <br /><br />
    <input
      type="password"
      placeholder="Enter your password"
      v-model="signup.password"
    /><br /><br />
    <p>Select Hobbies</p>
    <input
      type="checkbox"
      id="cricket"
      value="cricket"
      v-model="signup.hobbies"
    />
    <label for="cricket">Cricket</label>
    <input
      type="checkbox"
      id="football"
      value="football"
      v-model="signup.hobbies"
    />
    <label for="football">Football</label><br /><br />
    <p>Select Gender</p>
    <input type="radio" id="male" value="male" v-model="signup.gender" />
    <label for="male">Male</label>
    <input type="radio" id="female" value="female" v-model="signup.gender" />
    <label for="female">Female</label> <br /><br />
    
    <button v-on:click="signupUser">SignUp</button>
  </div>
</template>

<script>
export default {
  name: "Signup",
  data() {
    return {
      signup: {
        name: null,
        password: null,
        hobbies: [],
        gender: null,
      },
    };
  },
  methods: {
    signupUser() {
      console.warn(this.signup);
    },
  },
};
</script>