<template>
  <div>
    <h1 class="homeStyle">Class and Style Binding</h1>
    <h1 v-bind:style="{ color: 'blue' }">Style Binding</h1>
    <h1 v-bind:class="{ display: show }">Style Binding with object</h1>
    <h1 v-bind:class="[aClass]">Style Binding with Array</h1>
    <h1 v-bind:class="[show?'display':'arrayClass']">Style Binding with Array</h1>
  </div>
</template>

<script>
export default {
  name: "Home",
  data() {
    return {
      show: false,
      aClass: "arrayClass",
    };
  },
};
</script>

<style scoped>
.homeStyle {
  color: orange;
}
.display {
  color: gray;
}
.arrayClass {
  color: red;
}
</style>