<template>
  <div>
    <!-- <h1 id="demo">{{name}}</h1> -->

    <!-- <h1 v-if="show">Condition Rendering</h1> -->
    <!-- <h1 v-else>Condition Rendering else</h1> -->
    <div v-if="show">
        <distroy-before-destroy />
    </div>
    <button v-on:click="display">Togglr element</button>

  </div>
</template>

<script>
import DistroyBeforeDestroy from "./DistroyBeforeDestroy.vue";
export default {
  components: { DistroyBeforeDestroy },
  name: "CreatedBeforeCreate",
  data() {
    // return { name: "Arbab" };
    return { show: true };
  },
  methods: {
    display() {
      this.show = !this.show;
    },
  },
  created() {
    // this.name = "sam";
    console.warn("created", this.name);
  },
  beforeCreate() {
    // this.name = "sam";
    console.warn("beforeCreate", this.name);
  },
  beforeMount() {
    // console.warn("beforeMount",this.$el);

    console.warn("beforeMount", document.getElementById("demo"));
  },
  mounted() {
    // console.warn("mounted",this.$el);
    console.warn("mounted", document.getElementById("demo"));
  },
};
</script>