<template>
  <div>
    <h1>{{ name }}</h1>
  </div>
</template>

<script>
export default {
  name: "Destroy",
  data() {
    return { name: "CreatedBeforeCreate Component" };
  },
  beforeDestroy() {
    // alert("alert");
    console.warn("beforeDestroy");
  },
  destroyed() {
          alert("destroyed");

    console.warn("destroyed");
  },
};
</script>