<template>
  <div>
    <table>
      <tr>
        <th>Name</th>
        <th>Salary</th>
        <th>Age</th>
        <th>Action</th>
      </tr>
      <tr v-for="employee in employee" v-bind:key="employee.id">
        <td>{{ employee.employee_name }}</td>
        <td>{{ employee.employee_salary }}</td>
        <td>{{ employee.employee_age }}</td>
        <td><button v-on:click="deleteEmployee(user.id)">Delete</button></td>
      </tr>
    </table>
  </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import VueAxios from "vue-axios";
Vue.use(VueAxios, axios);
export default {
  name: "DeleteEmployee",
  data() {
    return { employees: null };
  },
  methods: {
    getEmployees() {
      Vue.axios.get("").then((responseObj) => {
        this.employees = responseObj.data;
      });
    },
    deleteEmployee(id) {
        prompt("Are you sure. you want to delete?")
      this.axios.delete("" + id).then((responseObj) => {
        this.getEmployees();
      });
    },
  },
  mounted() {
    this.getEmployees();
  },
};
</script>