<template>
  <div id="app">
    <h1>Employee List</h1>
    <div>
      <table>
        <tr>
          <th>Name</th>
          <th>Salary</th>
          <th>Age</th>
        </tr>
        <tr v-for="employee in employees" v-bind:key="employee.id">
          <td>{{employee.employee_name}}</td>
          <td>{{employee.employee_salary}}</td>
          <td>{{employee.employee_age}}</td>
        </tr>
      </table>
    </div>
  </div>
</template>


<script>    
import Vue from 'vue'
import VueAxios from 'vue-axios'
import axios from 'axios'
Vue.use(VueAxios,axios)
export default {
  name: "EmployeeList",
  data() {
    return { employees: undefined };
  },
  mounted() {
    Vue.axios
      .get("http://dummy.restapiexample.com/api/v1/employees")
      .then((resp) => {
        this.employees = resp.data.data;
        console.warn(resp.data.data);
      });
  },
};
</script>