<template>
  <div>
    <h1>Submit form with api</h1>
    <form @submit="submitData" method="post">
      <input type="text" placeholder="Enter your title" v-model="post.title" />
      <br /><br />
      <input
        type="text"
        placeholder="Enter your author"
        v-model="post.author"
      /><br /><br />

      <button type="submit">Login</button>
    </form>
  </div>
</template>

<script>
import Vue from "vue";
import VueAxios from "vue-axios";
import axios from "axios";
Vue.use(VueAxios, axios);
export default {
  name: "SubmitForm",
  data() {
    return { post: { title: null, author: null } };
  },
  methods: {
    submitData(e) {
      this.axios.post("", this.post).then((resp) => {
        console.warn("response", resp);
      });
      e.preventDefault();
    },
  },
};
</script>