<template>
  <div>
    <h1>Home Component</h1>
    <p>
      <router-link to="user/1">Anil</router-link>
    </p>
    <p>
      <router-link to="user/2">Sam</router-link>
    </p>
    <p>
      <router-link to="user/3">ruce</router-link>
    </p>
    <p>
      <router-link to="user/4">Raj</router-link>
    </p>
  </div>
</template>

<script>
export default {
  name: "Homeroute",
//   data() {},
};
</script>