<template>
  <div>
    <h1>{{ name | Ucase }}</h1>
    <h1>{{ amount | currencyConvertor }}</h1>

    
  </div>
</template>
<script>
export default {
  name: "Filter1",
  data() {
    return { name: "Hello", amount: 100 };
  },
};
</script>