<template>
    <div>
        <h1>Props in Vuejs</h1>
        <!-- <h1>{{name}}</h1> -->
        <h1 v-for="user in users" :key="user.name">
            {{user.name}}  ----- {{user.email}}
        </h1>
    </div>
</template>

<script>
export default {
    name: "Child",
    props:["users"]

}
</script>