<template>
    <div>
        <h1>Home Component</h1>
        <users/>
        <products/>
                <products/>
    </div>
</template>
<script>
import Products from './Products.vue'
import Users from './Users.vue'
export default {
    name: "Home",
    components: {
        Users,
        Products
    }

}
</script>

<style scoped>
div {
    background-color: lightgray;
    height: 500px;
}
</style>