<template>
    <div class="products">
        <h1>Products Component</h1>
    </div>
</template>
<script>
export default {
    name: "Products"
}
</script>

<style scoped>
.products {
    background-color: rgb(189 167 167);
    height: 90px;
    width: 300px;
    padding: 40px;
    margin: 20px;
}
</style>