<template>
    <div class="users">
        <h1>Users Component</h1>
    </div>
</template>
<script>
export default {
    name: "Users"
}
</script>

<style scoped>
.users {
    background-color: rgb(189 167 167);
    height: 90px;
    width: 300px;
    padding: 40px;
    margin: 20px;
}
</style>