<template>
  <div>
    <h1>Hello from home component</h1>
    <!-- <h2>{{data}}</h2>
    <h2>{{msg}}</h2> -->
    <!-- <button v-on:click="hello('Call hello')">Call hello Function</button> -->
    <button v-on:mouseover="hello('Call hello')">Call hello Function</button>
  </div>
</template>
<script>
export default {
  name: "Button",
  props: {
    data: String,
    msg: String,
  },
  methods: {
    hello(data) {
        alert(data)
    },
  },
};
</script>