<template>
  <div>
    <h1 v-if="show">Condition Rendering</h1>
    <!-- <h1 v-else>Condition Rendering else</h1> -->
    <button v-on:click="display">Togglr element</button>
  </div>
</template>
<script>
export default {
  name: "CondRendering",
  props: {
    data: String,
    msg: String,
  },
  data() {
    return { show: true };
  },methods: {
      display() {
          this.show = !this.show
      }
  }
};
</script>