<template>
  <div>
    <h1>For Loop</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
      <tr v-for="user in users" :key="user.id">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
      </tr>
    </table>
  </div>
</template>
<script>
export default {
  name: "ForLoop",
  props: {
    data: String,
    msg: String,
  },
  data() {
    return {
      users: [
        { id: 1, name: "Arbab", email: "arbab@test.com" },
        { id: 2, name: "Shakir", email: "Shakir@test.com" },
        { id: 3, name: "Waseem", email: "Waseem@test.com" },
      ],
    };
  },
};
</script>