<template>
    <div>
        <button v-on:click="updateTitlle()" >Update parentt title</button>

    </div>
</template>

<script>
export default {
    name: "Child1",
    methods: {
        updateTitlle() {
            this.$emit('changeTitle', "Parent Upddate")
        }
    }
}
</script>