<template>
  <div>
    <h2>{{title}}</h2>
    <child-1 v-on:changeTitle="updateTitle($event)"/>
    
  </div>
</template>

<script>
import Child1 from "./Child1.vue";
export default {
  components: { Child1 },
  name: "Parent",
  data(){
      return {title:"Props Tutorial"}
  },
  methods: {
      updateTitle(title) {
          this.title  = title;
      }
  }
};
</script>