<template>
  <div>
    <h1>Login</h1>
    <p v-if="error.length">
        <b>Please correct the followiig errors</b>
        <ul>
            <li v-for="e in error" v-bind:key="e.id">
                {{e}}
            </li>
        </ul>
    </p>
    <form @submit="login">
      <input
        type="text"
        placeholder="Enter your name"
        v-model="username"
      />
      <br /><br />
      <input
        type="password"
        placeholder="Enter your password"
        v-model="password"
      /><br /><br />

      <button type="submit">Login</button>
    </form>
  </div>
</template>
<script>
export default {
  name: "Login",
  data() {
    return {  username: null, password: null, error: [] } ;
  },
  methods: {
    login(e) {
      this.error = [];
      if (this.username && this.password) {
        console.warn("no error");
      }
      if (!this.username) {
        this.error.push("username is required");
      }
      if (!this.password) {
        this.error.push("password is required");
      }
      // console.warn("Hello",this.error);
      e.preventDefault();
    },
    // s howLoginDetail() {
    //   console.log(this.loginDetail);
    // },
  },
};
</script>