<template>
  <div id="app">
    <!-- <img alt="Vue logo" src="./assets/logo.png" /> -->
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
    <!-- <button data="Arbab iis heere" msg="Messegae"/> -->
    <!-- <cond-redering data="Arbab iis heere" msg="Messegae"/> -->
    <!-- <for-loop data="Arbab iis heere" msg="Messegae" /> -->
    <!-- <home /> -->
    <!-- <data-bind/> -->
    <!-- <child v-bind:name="userName" /> -->
    <!-- <child v-bind:users="users" /> -->
    <!-- <parent /> -->
    <!-- <signup /> -->
    <!-- <login /> -->
    <!-- <filter-1 name="arbab"/> -->
    <!-- <ceated-before-create  /> -->
    <employee-list  />
    <!-- <active-bootstrap  /> --> -->
    <!-- <submit-form /> -->
    <!-- <nav>
      <ul>
        <li>
          <router-link to="/Home">Home Page</router-link>
        </li>
        <li>
          <router-link to="/">First Page</router-link>
        </li>
        <li>
          <router-link to="/Second">Second Page</router-link>
        </li>
      </ul>
    </nav>
    <router-view /> -->
  </div>
</template>

<script>
// import ActiveBootstrap from './components/ActiveBootstrap/ActiveBootstrap.vue';
// import SubmitForm from './components/Api/SubmitForm.vue';
import EmployeeList from './components/Api/EmployeeList.vue';
// import Filter1 from './components/Filter/Filter.vue';
// import CeatedBeforeCreate from './components/LifeCycleCompo/CeatedBeforeCreate.vue';
// import Login from './components/login/login.vue';
// import Parent from "./components/ChildToParent/Parent.vue";
// import Signup from './components/Signup/Signup.vue';
// import DataBind from './components/DataBinding/DataBind.vue';
// import Child from "./components/TwoWayDataBinding/Child.vue";
// import CondRedering from './components/CondRedering.vue'
// import ForLoop from "./components/ForLoop.vue";
// import Home from './components/Home/Home';
// import Home from './components/HtmlManu/Home';
// import Home from './components/StyleBinding/Home';

// import HelloWorld from './components/HelloWorld.vue'
// import Button from './components/Button.vue'

export default {
  name: "App",
  components: {
    // HelloWorld,
    // Button,
    // CondRedering,
    // ForLoop,
    // Home
    // DataBind,
    // Child,
    // Parent,
    // Signup,
    // Login,
    // Filter1,
    // CeatedBeforeCreate,
    EmployeeList,
    // ActiveBootstrap,
    // SubmitForm,
  },
  data() {
    return {
      // name: "Arbab"
      users: [
        { name: "Arbab", email: "arbab@gmail.com" },
        { name: "Shakir", email: "shakir@gmail.com" },
        { name: "waseem", email: "waseem@gmail.com" },
      ],
    };
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
