<template>
  <div>
    <p v-html="rowHtml"></p>
    <h3 v-once>{{ name }}</h3>
    <h3>{{ name }}</h3>
    <h3>{{ 10 + 40 }}</h3>
    <h3>{{ a + b }}</h3>
    <h3>{{ ok ? "Yes" : "No" }}</h3>

    <button v-bind:disabled="disableBtn" v-on:click="updateText">
      Click Mee
    </button>
  </div>
</template>

<script>
export default {
  name: "Home",
  data() {
    return {
      name: "Arbab",
      a: 20,
      b: 10,
      ok: true,
      rowHtml: "<h1>HTML Template</h1>",
      disableBtn: true
    };
  },
  methods: {
    updateText() {
      this.name = "Bhupesh";
      this.ok = !this.ok;
    },
  },
};
</script>