<template>
  <div>
    <h1>Active Bootstrap</h1>
    <div>
      <b-button>Button</b-button>
      <b-button variant="danger">Button</b-button>
      <b-button variant="success">Button</b-button>
      <b-button variant="outline-primary">Button</b-button>
    </div>
  </div>
</template>

<script>
export default {
  name: "ActiveBootstrap",
};
</script>